
h2 {
    color: blue;
    font-family: Arial, sans-serif;
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
}

.mojah2 {
    color: red;
}

p {
    color:green;
    
}